{% include '_header.twig' with { slug: 'Blogs' } %}

		<main id="site-content">
			<div class="grid">
				{% for record in records %}
				{% if record.header is not empty %}
				<article class="graphic-blog-teaser" style="background-image: url({{ record.header|image }});">
				{% else %}
				<article class="blog-teaser">
				{% endif %}
					<h3><a href="{{ record.link }}" title="Link naar {{ record.title }}">{{ record.title }}</a></h3>
				</article>
				{% endfor %}

				{{ pager() }}
			</div> <!-- /.grid -->
		</main> <!-- /#site-content -->

{% include '_footer.twig' %}
